@{
    ViewBag.Title = "Gallery";
}

<link href="~/Gal/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Gal/jphotogrid.css" rel="stylesheet" type="text/css" media="screen" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="~/Gal/jphotogrid.js"></script>
<script src="~/Gal/jflickrfeed.js"></script>
<script src="~/Gal/setup.js"></script>
<div id="container">
    <ul id="pg">
        <li>
            <img src="~/Images/476820_10151552697292427_1871351646_o.jpg" alt="Rammstein">
            <p>Rammstein in Berlin</p>
        </li>
        <li>
            <img src="~/Images/brodude.ru_12.11.2014_W1eALXaYbMYXT.jpg" alt="System of a Down">
            <p>System of a Down in London</p>
        </li>
        <li>
            <img src="~/Images/3735171010_e75c8a1c41_o.jpg" alt="Green day">
            <p>Green day in Paris</p>
        </li>
        <li>
            <img src="~/Images/ycUtSh0C5tk.jpg" alt="Okean elzy">
            <p>Okean elzy in Baku</p>
        </li>
        <li>
            <img src="~/Images/021014_normal.jpg" alt="Scorpions">
            <p>Scorpions in Kiev</p>
        </li>
        <li>
            <img src="~/Images/pp-metallica-020509-p1.jpg" alt="Metallica ">
            <p>Metallica in Washington DC</p>
        </li>
        <li>
            <img src="~/Images/282959_384648550.jpg" alt="Skryabin">
            <p>Skryabin in Lviv</p>
        </li>
        <li>
            <img src="~/Images/Red_Hot.jpg" alt="Red hot chili peppers">
            <p>Red hot chili peppers in Rome</p>
        </li>
        <li>
            <img src="~/Images/Slipknot.jpg" alt="Slipknot">
            <p>Slipknot in Madrid</p>
        </li>
        <li>
            <img src="~/Images/TC.jpg" alt="Sun shade">
            <p>Sun shade in Kiev</p>
        </li>
        <li>
            <img src="~/Images/7.jpg" alt="Marilyn Manson">
            <p>Marilyn Manson in L.A.</p>
        </li>
        <li>
            <img src="~/Images/sting-01.jpg" alt="Sting">
            <p>Sting in Dubai</p>
        </li>
        <li>
            <img src="~/Images/arctic-monkeys-2_2719207b.jpg" alt="Arctic monkeys">
            <p>Arctic monkeys in Toronto</p>
        </li>
        <li>
            <img src="~/Images/powerwolf.jpg" alt="Powerwolf">
            <p>Powerwolf in Warsaw</p>
        </li>
        <li>
            <img src="~/Images/Dope.jpg" alt="Dope">
            <p>Dope in Kiev</p>
        </li>
        <li>
            <img src="~/Images/Adele-4.jpg" alt="Adele">
            <p>Adele in Chicago</p>
        </li>
        <li>
            <img src="~/Images/12904.jpg" alt="One republic">
            <p>One republic in Prague</p>
        </li>
        <li>
            <img src="~/Images/Dragons.jpg" alt="Imagine dragons">
            <p>Imagine dragons in Manchester</p>
        </li>
        <li>
            <img src="~/Images/609584_1_w_570.jpg" alt="Brutto">
            <p>Brutto in Rivne</p>
        </li>
        <li>
            <img src="~/Images/450f28edc6068389800b20e995fd0eee0f.jpg" alt="Nickelback">
            <p>Nickelback in Lisbon</p>
        </li>
    </ul>
</div>
